@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after, button, input {
  box-sizing: inherit;
  cursor: none;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

#global-container {
  position: relative;
  background: #1E1E1E;
  overflow: hidden;
}
#global-container #cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 99999999999999;
  pointer-events: none;
  backdrop-filter: invert(1);
}
@media screen and (max-width: 1024px) {
  #global-container #cursor {
    display: none;
  }
}
#global-container #displaySettingButton {
  position: absolute;
  right: 15px;
  top: 15px;
  background: transparent;
  border: none;
  outline: none;
}
#global-container #global-content-container {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "interaction";
}
#global-container #global-content-container .interaction-container {
  grid-area: interaction;
  display: flex;
  justify-content: center;
  align-items: center;
}
#global-container #global-content-container .interaction-container form {
  border-radius: 10px;
  width: fit-content;
  padding: 50px;
  min-width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#global-container #global-content-container .interaction-container form h2 {
  color: #E7E7E7;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}
#global-container #global-content-container .interaction-container form label {
  width: 100%;
  margin: 20px 0;
  position: relative;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
#global-container #global-content-container .interaction-container form label > span {
  position: absolute;
  top: 50%;
  left: 0;
  pointer-events: none;
  color: #E7E7E7;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transform: translate(20%, -50%);
  padding: 0 15px;
  transition: 0.1s ease-in-out all;
}
#global-container #global-content-container .interaction-container form label > span span {
  position: relative;
  z-index: 1;
}
#global-container #global-content-container .interaction-container form label > span::after {
  transition: 0.15s ease-in-out all;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1E1E1E;
  z-index: 0;
  top: 0;
  left: 0;
  transform-origin: center center;
  transform: scaleX(0);
}
#global-container #global-content-container .interaction-container form label > span.active {
  transform: translate(40%, -140%);
}
#global-container #global-content-container .interaction-container form label > span.active::after {
  transform: scaleX(1);
}
#global-container #global-content-container .interaction-container form label input {
  width: 80px;
  height: 80px;
  background: #181818;
  padding: 15px 5px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 10px;
  color: #E7E7E7;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 32px;
  /* Chrome, Safari, Edge, Opera */
  -moz-appearance: textfield;
}
@media screen and (max-width: 598px) {
  #global-container #global-content-container .interaction-container form label input {
    width: 33.3333333333%;
    height: 60px;
  }
}
#global-container #global-content-container .interaction-container form label input:focus {
  border-color: #BA841B;
}
#global-container #global-content-container .interaction-container form label input::-webkit-outer-spin-button, #global-container #global-content-container .interaction-container form label input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  appearance: none;
}
#global-container #global-content-container .interaction-container form .number-panel-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  width: 500px;
  margin-top: 40px;
}
@media screen and (max-width: 598px) {
  #global-container #global-content-container .interaction-container form .number-panel-wrapper {
    width: 90%;
  }
}
#global-container #global-content-container .interaction-container form .number-panel-wrapper .touch {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: #E7E7E7;
  color: #1E1E1E;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  #global-container #global-content-container .interaction-container form .number-panel-wrapper .touch:not(.onmobile) {
    display: none;
  }
}
@media screen and (max-width: 598px) {
  #global-container #global-content-container .interaction-container form .number-panel-wrapper .touch {
    width: 40px;
    height: 40px;
  }
}
#global-container #global-content-container .interaction-container form .number-panel-wrapper .touch svg.stroke path {
  stroke: #1E1E1E;
}
#global-container #global-content-container .interaction-container form .number-panel-wrapper .touch svg.fill path {
  fill: #1E1E1E;
}
#global-container #global-content-container .interaction-container form .number-panel-wrapper .touch:hover {
  background: #181818;
  color: #E7E7E7;
}
#global-container #global-content-container .interaction-container form .number-panel-wrapper .touch:hover svg.stroke path {
  stroke: #E7E7E7;
}
#global-container #global-content-container .interaction-container form .number-panel-wrapper .touch:hover svg.fill path {
  fill: #E7E7E7;
}
#global-container #global-content-container #closeInterface {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px 15px;
  background: #E7E7E7;
  border-radius: 10px;
  outline: none;
  border: none;
}
#global-container #global-content-container #closeInterface span {
  margin-left: 5px;
}
#global-container #global-content-container #speechOpen {
  position: absolute;
  left: 15px;
  top: 15px;
  background: transparent;
  border: none;
  outline: none;
  display: none;
}
#global-container #global-content-container #speechOpen.comptabible {
  display: block;
}
#global-container #homepage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: #1E1E1E;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #E7E7E7;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
#global-container #homepage h2 {
  font-size: 30px;
}
#global-container #homepage p {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
#global-container #homepage button {
  padding: 10px;
  background: #E7E7E7;
  outline: none;
  border: none;
  color: #1E1E1E;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 10px;
  margin-top: 30px;
}
#global-container #homepage .backgroundOnSwitch {
  position: absolute;
  top: 0;
  left: 0;
  background: #E7E7E7;
  width: 100%;
  height: 100%;
  z-index: 99;
  transform-origin: bottom;
  transform: scaleY(0);
}
#global-container #setting {
  transform: translateX(100%);
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999999;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
#global-container #setting .notice-checked {
  background: #EAF6ED;
  border: 1px solid #C2E6CB;
  color: #2AB550;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 15px 0;
}
#global-container #setting .notice-checked.error {
  background: #E1D4D1;
  border: 1px solid #E7C4BC;
  color: #D34628;
}
#global-container #setting #content {
  transform: translateX(100%);
  padding: 30px;
  background: #E7E7E7;
  height: 100%;
  min-width: 50vw;
  position: relative;
}
#global-container #setting #content h2 {
  color: #1E1E1E;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  margin: 10px 0;
}
#global-container #setting #content .lockerStatusList {
  padding: 15px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
#global-container #setting #content .lockerStatusList .lockerStatus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #1E1E1E;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#global-container #setting #content .lockerStatusList .lockerStatus span.bolder {
  font-weight: 900;
}
#global-container #setting #content .lockerStatusList .lockerStatus button {
  outline: none;
  border: none;
  text-decoration: underline;
  color: #1E1E1E;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#global-container #setting #content .closeModalContent {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 10px;
  background: #1E1E1E;
  outline: none;
  border: none;
  border-radius: 10px;
  color: #E7E7E7;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#global-container #speechmodal {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(10, 10, 10, 0.93);
  width: 100vw;
  height: 100vh;
  z-index: 99999999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  display: none;
}
#global-container #speechmodal .loader {
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
}
#global-container #speechmodal .loader .ball {
  width: 25px;
  height: 25px;
  background: #E7E7E7;
  border-radius: 50%;
  margin: 0 10px;
}
#global-container #speechmodal p {
  color: #E7E7E7;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#global-container #speechmodal button {
  padding: 10px;
  background: #E7E7E7;
  outline: none;
  border: none;
  color: #1E1E1E;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 10px;
  margin-top: 30px;
}

/*# sourceMappingURL=global.css.map */
